@import url(http://fonts.googleapis.com/css?family=Lato:300,100,400);

.form-control {
    outline: 0;
    border-color: #ECECEC;
    border-style: solid;
    border-width: 1px;
    width: 55%;
    background-color: #ffffff;
    padding: 6px;
    border-radius: 2px;
    margin-bottom: 5px;
    font-size: 14px;
}



body {
   text-align:center;
   background-color:#118C4E;
   font: normal 18px/1.5 "Lato", "Arial", sans-serif;
}

footer {
    font: normal 18px/1.5 "Lato", "Arial", sans-serif;
    position:fixed;
    bottom:0;
    text-align:center;
    width:100%;
    font-size:12px;
}

.footer_background {
    background-color: #0d693b;
    display: inline-block;
    width: 60%;
    vertical-align: bottom;
    border-radius: 5px 5px 5px 5px;
    padding:2px;
}

.bp-autocomplete-holder {
    position: relative;
}

.bp-autocomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -6px;
    background-color: #ffffff;
}

.bp-autocomplete-searching {
    color: #bp-acacac;
    font-size: 14px;
}

.bp-autocomplete-description {
    font-size: 14px;
}

.bp-autocomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;

}

.bp-autocomplete-selected-row, .bp-autocomplete-row:hover {
    background-color: lightblue;
    color: #ffffff;
}

.bp-autocomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.bp-autocomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.bp-autocomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}

.bp-ac {
    letter-spacing: 0.01em;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    margin-left:20%;
    margin-right:20%;
    height: 100%;
    text-align: left;
}

.bp-ac input, button, textarea {
    -webkit-appearance: none;
}

#bp-ac .white-bg {
    background: #ffffff;
    min-height: 100%;
}

.bp-ac a {
    color: #5BCDD5;
    text-decoration: none;
}

#bp-ac a:hover {
    color: #F98200;
}

#bp-ac .centered-heading {
    font-family: "bariol_regularregular", Arial;
    font-size: 5em;
    text-align: center;
}

#bp-ac h1, h2, h3, h4, h5, h6 {
    font: normal 18px/1.5 "Lato", "Arial", sans-serif;
    line-height: 1em;
    margin-bottom: 10px;
    margin-top: 10px;
}

h1 {
    font: 300 3.2em/1.2 "Lato", sans-serif;
    margin-top:50px;
    margin-bottom:40px;
}

@media screen and (min-width: 400px) {
    .dropdown-description {
        display: block;
        position: absolute;
        right: 70px;
        top: 15px;
        max-width: 200px;
        background-color: #000000;
        color: #ffffff;
        border-radius: 4px;
        padding: 6px;
        padding-left: 10px;
        padding-right: 10px;
        opacity: 0.8;
    }
}

.dropdown {
    width: 53px;
    position: absolute;
    right: 4px;
    top: 50px;
    z-index: 100;
    padding: 0px;
    text-align: left;
    text-align: center;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: center;
}

.dropdown-icon {
    margin-bottom: 0px;
    padding: 5px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-icon:hover {
    background-color: #fb8200;
}

.dropdown-orange {
    background-color: #FFA300;
    color: #ffffff;
}

.padded-row {
    margin-top: 10px;
}

.search-box {
    position: relative;
    border-style: solid;
    border-color: #F2F2F2;
    border-width: 2px;
    border-radius: 4px;
    padding: 6px;
    background-color: #ffffff;
    margin-top: 10px;
}

.search-box-entry {
    padding-left: 10px;
}

.search-box-entry-input {
    width: 80%;
    border-style: none;
    font-size: 18px;
}

.search-box-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

.search-box-entry-input:focus {
    outline: 0;
}

.form-control {
    outline: 0;
    border-color: #ECECEC;
    border-style: solid;
    border-width: 1px;
    width: 95%;
    background-color: #ffffff;
    padding: 6px;
    border-radius: 2px;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-control-small {
    width: 72%;
}

.form-control:-webkit-autofill {
    background-color: #fff !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.error-handler-title {
    font-size: 50px;
    color: #ffffff;
}

.error-handler-text {
    font-size: 22px;
    color: #ffffff;
}

.icon-spaced {
    margin-left: 5px;
}

.form-control-fill {
    width: 96%;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
    padding-bottom: 10px;
    cursor: pointer;
}

.bp-active-tab {
    padding-top: 0px;
    font-family: bariol_boldbold;
    margin-top: -5px;
    color: #000000;
    height: 21px;
    padding-top: 12px !important;
}

.bp-active-tab a {
    color: #000000;
    height: 25px;
    padding-top: 13px;
}

.bp-autocomplete-highlight {
    font-weight:bold;
    color: #0000FF;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  background: #0d693b;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
}

.btn:hover {
  background: #15af61;
  text-decoration: none;
}

.searchBar {
    position:absolute;
    transition: .5s ease;
    top: 99%;
    left: 50%;
}

.hidden {
    display:none;
}

.unhidden {
    display:block;
}

a:visited {
    color: #570051;
}
p {
    padding:0px;
    margin:0px;
}

.widget {
  display: inline-block;
}

#chart {
  height: 550px;
  width: 550px;
}

svg {
  shape-rendering: crispEdges;
}

.bar {
  fill: #0d693b;
}

.value {
  font-size: 16px;
  font-weight: 300;
  fill: white;
}

.label {
  font-size: 18px;
  fill: white;
}

